NEXT_PUBLIC_SUPABASE_URL=https://wwfttjsuvkqbopzjrzei.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_o7MqjD3ICsI30AX0eb-ctQ_WTByV2jo
AIRTABLE_PERSONAL_ACCESS_TOKEN=
AIRTABLE_BASE_ID=appiSCPsoiAgMbn67
AIRTABLE_TABLE_ID=tbl8wlGrgTJ1FfvP5
GMAIL_SMTP_USER=
GMAIL_SMTP_APP_PASSWORD=
EMAIL_FROM_ADDRESS=
VAPI_API_KEY=
VAPI_ASSISTANT_ID=
VAPI_PHONE_NUMBER_ID=
VAPI_WEBHOOK_URL=
